.Wrapper {
  padding: 75px 0;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.Wrapper.Dark {
  color: #eceff4;
}

.Wrapper.Light {
  color: #2e3440;
}

.Dark .Left {
  color: #80C0D0;
}

.Light .Left {
  color: #5E81AC;
}

.Wrapper a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Left {
  text-transform: uppercase;
  text-align: right;
  font-weight: 700;
}

.Right {
  max-width: 700px;
  width: 100%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.ProjectClass {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

.ProjectClass > img {
  max-width: calc(100% - 240px);
  border-radius: 5px;
  margin-bottom: 10px;
}

.Dark .ProjectClass > img {
  box-shadow: 10px 10px #4C566A;
}

.Light .ProjectClass > img {
  box-shadow: 10px 10px #D8DEE9;
}

.ProjectClass > div {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.ProjectClass > div > a {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.ProjectClass > div > p {
  font-size: 14px;
  margin-bottom: 0;
  color: #afafbf;
  margin: 0;
}

.Dark .ProjectClass > div > p {
  color: #afafbf;
}

.Light .ProjectClass > div > p{
  color: #444452;
}

@media (max-width: 1200px) {
  .Wrapper {
    justify-content: center;
    padding: 100px;
  }

  .Right {
    max-width: 600px;
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  .Wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 800px) {
  .ProjectClass {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .ProjectClass > img {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .ProjectClass > div {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .Wrapper {
    padding: 50px;
  }
}

@media (max-width: 375px) {
  .Wrapper {
    padding: 25px;
  }
}