.Wrapper {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Dark .Arrow {
  color: #80C0D0;
}

.Light .Arrow {
  color: #5E81AC;
}

.Wrapper > .Arrow {
  opacity: 0.5;
  margin-left: 20px;
  animation: arrowOut .35s ease-in-out;
}

.Wrapper:hover > .Arrow {
  opacity: 1;
  margin-left: 40px;
  animation: arrowIn .35s ease-in-out;
}

@keyframes arrowIn {
  0% {
    opacity: 0.5;
    margin-left: 20px;
  }
  50% {
    opacity: 1;
    margin-left: 20px;
  }
  100% {
    opacity: 1;
    margin-left: 40px;
  }
}

@keyframes arrowOut {
  0% {
    opacity: 1;
    margin-left: 40px;
  }
  50% {
    opacity: 1;
    margin-left: 20px;
  }
  100% {
    opacity: 0.5;
    margin-left: 20px;
  }
}
