.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 30px;
  bottom: 0;
}

.Wrapper.Dark {
  color: #eceff4;
}

.Wrapper.Light {
  color: #2e3440;
}

.Wrapper > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-bottom: 10px;
  transition: .2s ease-in-out;
}

.Wrapper > a:hover {
  transform: scale(1.2);
  color: #5E81AC;
}

.Rode {
  width: 5px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #5E81AC;
}

@media (max-width: 500px) {
  .Wrapper {
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
    transform: translateX(-50%);
  }

  .Wrapper > a {
    margin: 0;
  }

  .Wrapper > a:not(:last-of-type) {
    margin-right: 10px;
  }

  .Rode {
    display: none;
  }
}